.review-text-main {
  background-image: url(../../images/left-bg-shape.svg);
  background-repeat: no-repeat;
  /* height: 100px; */
  background-size: 100% 100%;
}

.top-image {
  /* position: relative;
  z-index: 98; */
}
.review {
  border-radius: 30px;
  border: 1px solid #FFBC02;
  /* position: absolute;
  z-index: 99;
  top: 0; */
}

.review img {
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
}
