.expertise-main{
    background: #f3b61011;
    /* background: #f8dec1; */
    /* background: #fff9dc; */
}
.expertise-text img {
    width: 200px;
    height: 200px;
}
.expertise-text-2 img {
    width: 250px;
    height: 200px;
}
.expertise-section img{
    height: 72px;
    width: 72px;
}
.expertise-section{
    border-radius: 30px;
    transition: 0.5s;
}
.expertise-section:hover{
    box-shadow: 0px 0px 30px 6px rgba(0,0,0,0.19);
    -webkit-box-shadow: 0px 0px 30px 6px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 0px 30px 6px rgba(0,0,0,0.19);
    transition: all 0.5s ease;
    cursor: pointer;
    /* transform: scale(1.1); */
}