.navbar-brand img{
    height: 40px;
    width: 70px;
}

.nav-item a:hover{
    border-bottom: 1px solid red ;
}

.regular-btn {
    background: #ff5d56;
    border: 0;
    padding: 12px 35px;
    border-radius: 35px;
    color: #eee;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.regular-btn:before {
    position: absolute;
    content: '';
    top: 0;
    left: -25px;
    width: 0%;
    background: #555;
    height: 102%;
    transform: skew(-25deg);
    transition-duration: 0.6s;
    z-index: -1;
}
.regular-btn:hover::before {
    width: 120%;
    left: -2;
}
.regular-btn:hover {
    color: #fff;
}