.tab-btn:hover{
    background-color: #F1CDD3 !important;
    border-radius: 10px;
    cursor: pointer;
    color: #C42F46;
}
.tab-btn img {
    height: 50px;
    width: 50px;
}

.project{
    position: relative;
    overflow: hidden;
}
.project img{
    transition: all 0.4s ease;
}
.project img:hover{
    transform: scale(1.1);
}
.overlay:hover h5{
    color: #C42F46;
}

.courses .owl-carousel .owl-item img{
 width: 15%;
}