.tab-btn{
    border-radius: 15px;
}
.tab-btn:hover{
    background-color: #F1CDD3 !important;
    border-radius: 15px;
    cursor: pointer;
    color: #C42F46;
}
.tab-btn img {
    height: 50px;
    width: 50px !important;
}

.project{
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}
.project img{
    transition: all 0.4s ease;
}
.project img:hover{
    transform: scale(1.1);
}
.overlay:hover h5{
    color: #C42F46;
}

.courses{
    border-radius: 15px;
}
.courses .owl-carousel .owl-item img{
 width: 15%;
}
.courses .owl-carousel .owl-dots .owl-dot span{
    margin: -9px 6px 0px !important;
}
.courses-icon{
    cursor: pointer;
}