.footer-main{
    background: #ffeab2;
}
.footer-main h5:hover{
   cursor: pointer;
   color: #C42F46;
}
.footer-section img{
    width: 120px;
    height: 65px;
}
.footer-main ul {
    list-style: none;
}
.footer-section-2 ul li{
    cursor: pointer;
    list-style: none;
}
.footer-section-2 ul li:hover{
    color: #C42F46;
}

@media (max-width: 767px) {

    .footer-section {
      text-align: center;
    } 
  }