.login-form img{
    height: 120px;
    width: 210px;
}
.login-btn{
    background: #E87A00;
    border-radius: 20px;
    height: 60px;
    color: #fff;
}
.login-btn:hover{
    background: #54ADFC;
}
.login-picture img{
    height: 560px;
    width: 670px;
}
.login-logo{
    height: 60px;
    width: 60px;
    background: rgb(241, 238, 238);
    border-radius: 50%;
}

.login-logo img{
    height: 30px;
    width: 30px;
}

.login-logo:hover{
   cursor: pointer;
   background: rgb(233, 227, 227);
}